@keyframes slide-out-left {
    0% { transform: translateX(0); opacity: 1; }
    100% { transform: translateX(100%); opacity: 0; }
}
@keyframes slide-in-left {
    0% { transform: translateX(-100%); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}
@keyframes slide-out-right {
    0% { transform: translateX(0); opacity: 1; }
    100% { transform: translateX(-100%); opacity: 0; }
}
@keyframes slide-in-right {
    0% { transform: translateX(100%); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

* {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
}

html {
    min-height: 100%;
}

body {
    background: linear-gradient(0deg, rgba(230,199,174,1) 0%, rgba(242,216,191,1) 100%);
    margin: 0;
}

header {
    background: url(../images/topbackground.png);
    background-position: top left;
    background-position-x: 5%;
    background-repeat: repeat-x;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header > img {
    display: block;
    margin: 0 auto 1em auto;
}

header > div > p {
    margin: 0 8px 8px 8px;
    text-align: center;
    color: #e1a2ab;
    display: block;
    padding: 0.5em 2em;
    border-radius: 20px;
    background-color: #fff;
    border: 3px solid #c0a092;
}

.twitch {
    display: block;
    width: fit-content;
    padding: 0.5em 2em;
    margin: 0 auto 1em auto;
    border-radius: 20px;
    background-color: #a47e71;
    text-align: center;
    color: #fff;
    text-decoration: none;
    letter-spacing: 3px;
}

.twitch:hover {
    color: #a47e71;
    background-color: white;
}

#nepClock-scheduleDate {
    width: 100%;
    text-align: center;
    user-select: none;
}

.nepClock-streamMonth {
    display: inline-block;
    font-size: 34px;
    color: #8b8549;
    transform:rotate(-5deg);
    vertical-align: baseline;
}

.nepClock-streamDay {
    display: inline-block;
    font-size: 34px;
    color: #605c36;
    transform:rotate(5deg);
    vertical-align: middle;
}

.nepClock-dateSeparator {
    display: inline-block;
    background-color: #cac07c;
    width: 60px;
    height: 15px;
    border-radius: 30%;
    margin: 0 16px;
}

#nepClockApp {
    padding: 8px 8px 0 8px;
}

#nepClock-schedule {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    width: 100%;
}

.nepClock-weekDayWrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}

.nepClock-weekDay {
    background-color: #fff;
    border: 3px solid #c0a092;
    border-radius: 40%;
    width: 6em;
    height: 4em;
    margin: 0.5em auto;
    user-select: none;
}

.nepClock-today > .nepClock-weekDay {
    border: 5px solid red;
}

.nepClock-weekDay > h3 {
    margin: calc(0.5em - 2px);
    padding-top: 0.5em;
    text-align: center;
    color: #e1a3ac;
    border: 2px solid #b16a75;
    border: 2px solid #b16a75;
    border: 2px solid #b16a75;
    border-radius: 40%;
    height: 2em;
    background-color: #fff;
    letter-spacing: 5px;
}

.nepClock-weekDayWrapper:nth-child(3n+1) .nepClock-weekDay > h3 {
    color: #e1b58c;
    border-color: #c08666;
}

.nepClock-weekDayWrapper:nth-child(3n+2) .nepClock-weekDay > h3 {
    color: #b1a278;
    border-color: #7b7049;
}

.nepClock-weekDaySchedule {
    width: 100%;
}

.nepClock-weekDaySchedule:has(> .nepClock-scheduleContent > .nepClock-live)::before {
    content: "LIVE";
    display: block;
    position: relative;
    width: fit-content;
    height: fit-content;
    font-size: 1.3em;
    margin: 0 auto;
    margin-bottom: -1em;
    padding: 0.2em 0.5em;
    background-color: red;
    border: 2px solid black;
    color: #fff;
    border-radius: 13px;
    user-select: none;
    z-index: 2;
}

.nepClock-discordStream::before {
    content: "";
    position: absolute;
    top: -28px;
    right: -3px;
    display: block;
    background-image: url(../images/icons/discord.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    height: 45px;
    width: 45px;
    z-index: 2;
}

.nepClock-scheduleContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 40px;
    border: 3px solid #c0a092;
    padding: 0.5em 1em;
    width: calc(100% - 6px - 2em);
    color: #e1a2ab;
}

.nepClock-scheduleContent:empty:before {
    content: "";
    text-align: center;
    border-bottom: 3px solid #e1a2ab;
    margin-top: 1.2em;
    height: calc(47px - 1.2em);
}

.nepClock-scheduleContent:empty:after {
    content: "mimimimi";
    font-size: 1.3em;
    font-style: italic;
    text-align: center;
    letter-spacing: 2px;
    margin: -0.7em auto 0.5em auto;
    background-color: #fff;
    width: fit-content;
    box-shadow: -15px 0px 15px 10px rgba(255, 255, 255, 0.9), 15px 0 15px 10px rgba(255, 255, 255, 0.9);
    height: 50px;
}

.nepClock-stream {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 0.5em;
    width: 100%;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 3px solid #c0a092;
    position: relative;
    height: 100px;
}

.nepClock-stream:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border: none;
}

.nepClock-streamTime {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    color: #b18073;
}

.nepClock-streamTitle {
    align-self: center;
}

.nepClock-streamTitleImage {
    min-width: 30%;
    max-height: 80px;
    filter: drop-shadow(0px 1px 0px #333);
    object-fit: scale-down;
    align-self: center;
}

.nepClock-streamTitleImageText {
    align-self: center;
}

.nepClock-streamTitleImageText-image {
    max-width: 140px;
    max-height: 40px;
    filter: drop-shadow(0px 1px 0px #333);
    object-fit: scale-down;
    align-self: center;
}

.nepClock-streamTitleImageText-text {
    margin: 0;
    text-align: center;
}

.nepClock-emote-right, .nepClock-emote-left {
    height: 75px;
    width: 75px;
    align-self: center;
}

.nepClock-emote-right {
    transform: rotate(10deg);
}

.nepClock-emote-left {
    transform: rotate(-10deg);
}

.nepClock-streamComment {
    align-self: center;
    transform: rotate(-5deg);
}

.nepClock-streamTime > a {
    display: inline-block;
    color: #b18073;
    text-decoration: none;
}

.nepClock-streamTime > a:hover {
    color: #c0a092;
}

.nepClock-analogTime {
    white-space: nowrap;
}

.nepClock-countdown {
    display: inline-block;
    padding-right: 0.3em;
}

.nepClock-realTime {
    display: inline-block;
    font-size: 0.8em;
    padding-right: 0.3em;
}

#nepClock-featuredArt {
    overflow: hidden;
    margin-top: 1em;
    padding: 0 5%;
}

#nepClock-featuredArt .image-wrapper > a > img {
    display: block;
    height: auto;
    max-height: 600px;
    max-width: calc(100% - 6px);
    border-radius: 15px;
    border: 3px solid #c0a092;
    margin: 0 auto 0.5em auto;
}

.slide-in-left {
    animation: slide-in-left 1s;
}

.slide-out-left {
    animation: slide-out-left 0.5s;
}

.slide-in-right {
    animation: slide-in-right 1s;
}

.slide-out-right {
    animation: slide-out-right 0.5s;
}

#nepClock-featuredArt > .arrow-left, .arrow-right {
	display: block;
    position: absolute;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
	z-index: 1;
    width: 120px;
    height: 120px;
    top: calc(50% - 15px);
    background-color: rgba(0, 0, 0, 0);
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#nepClock-featuredArt > .arrow-left {
    background-image: url(../images/arrowleft.png);
}

#nepClock-featuredArt > .arrow-right {
    background-image: url(../images/arrowright.png);
}

.credit {
    margin: 0 auto;
    width: fit-content;
    text-align: center;
    color: #fff;
    display: block;
    padding: 0.5em 2em;
    border-radius: 20px;
    background-color: #dd9fa8;
    text-decoration: none;
}

.credit:hover {
    color: #dd9fa8;
    background-color: #fff;
}

footer {
    display: flex;
    flex-wrap: wrap;
    margin: 1em 0;
    justify-content: center;
}

footer > p {
    display: block;
    width: 100%;
    margin: 0;
}

footer > a {
    margin: 0.3em 0.1em;
    text-align: center;
    color: #e1a2ab;
    padding: 0.5em 2em;
    border-radius: 20px;
    background-color: #fff;
    border: 3px solid #c0a092;
    text-decoration: none;
}

footer > a:hover {
    color: #fff;
    background-color: #e1a2ab;
}

.youtube::before {
    content: "";
    display: block;
    background-image: url(../images/icons/youtube_icon.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    height: 21px;
    margin-top: -18px;
    margin-left: -22px;
}

.twitter::before {
    content: "";
    display: block;
    background-image: url(../images/icons/x_icon.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    height: 21px;
    margin-top: -18px;
    margin-left: -22px;
}

.marshmallow::before {
    content: "";
    display: block;
    background-image: url(../images/icons/marshmallow_icon.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    height: 21px;
    margin-top: -18px;
    margin-left: -22px;
}

.streamelements::before {
    content: "";
    display: block;
    background-image: url(../images/icons/streamelements_icon.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    height: 21px;
    margin-top: -18px;
    margin-left: -22px;
}

.pixiv::before {
    content: "";
    display: block;
    background-image: url(../images/icons/pixiv_icon.jpeg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    height: 21px;
    margin-top: -18px;
    margin-left: -22px;
}

.throne::before {
    content: "";
    display: block;
    background-image: url(../images/icons/throne_icon.jpg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    height: 21px;
    margin-top: -18px;
    margin-left: -22px;
}

@media screen and (max-width: 879px) {
    #nepClock-featuredArt {
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 1em;
    }

    #nepClock-featuredArt > .image-wrapper > a {
        display: block;
        width: fit-content;
        margin: 0 auto;
    }

    #nepClock-featuredArt > .arrow-left {
        left: 60px;
    }

    #nepClock-featuredArt > .arrow-right {
        left: calc(100% - 60px);
    }
}


@media screen and (min-width: 880px) {
    header, footer {
        margin-left: 40%;
    }

    header > div > p {
        width: fit-content;
        margin: 0 auto;
    }
    
    #nepClockApp {
        display: flex;
        flex-direction: row-reverse;
        margin: 0;
    }

    #nepClock-schedule {
        flex-basis: 59%;
    }

    #nepClock-featuredArt {
        margin-top: 0;
        padding: 0;
    }
	
    .image-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 40%;
        height: 100%;
        overflow: hidden;
    }
    
    #nepClock-featuredArt .image-wrapper > a > img {
        display: block;
        min-height: 100%;
        max-width: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 0;
        border: none;
        margin: 0;
    }

    #nepClock-featuredArt .image-wrapper {
        border-right: 3px solid #a17b6f;
        background-color: #fff;
    }

    .credit {
        position: fixed;
        bottom: 0;
        left: 0;
        box-shadow: #fff 0 0 15px 15px;
        border-radius: 0;
        border-top-right-radius: 10px;
        padding: 0.5em 3em;
        letter-spacing: 3px;
        max-width: 25%;
    }

    #nepClock-featuredArt > .arrow-left {
        position: fixed;
        left: 3%;
    }

    #nepClock-featuredArt > .arrow-right {
        position: fixed;
        left: 36%;
    }

    .nepClock-streamTime {
        text-align: right;
        white-space: nowrap;
    }
    
    .nepClock-streamTitleImageText-image {
        max-width: 100%;
        max-height: 80px;
    }

    .nepClock-streamComment {
        font-size: calc(1vw + 1vh);
    }
    
    .nepClock-streamTitle {
        font-size: calc(1vw + 0.7vh);
    }
	
	
}

@media screen and (min-width: 1440px) {
    * {
        font-size: calc(0.5vw + 0.5vh);
    }

    header {
        flex-direction: row;
        justify-content: space-around;
    }

    header > img {
        margin: 0;
        object-fit: contain;
    }

    header > div {
        margin-right: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #nepClock-schedule {
        max-width: 60%;
    }
	
    .nepClock-weekDayWrapper {
        flex-direction: row;
        align-items: center;
        column-gap: 10px;
    }

    .nepClock-weekDay {
        height: unset;
    }

    .nepClock-scheduleContent {
        flex-direction: row;
        column-gap: 1em;
    }

    .nepClock-streamComment {
        letter-spacing: 6px;
    }

    .nepClock-scheduleContent:empty {
        flex-direction: column;
    }

    .nepClock-scheduleContent:empty:before {
        height: calc(4vh - 1.2em);
    }

    .nepClock-scheduleContent:empty:after {
        height: 4vh;
        font-size: calc(0.8vw + 0.8vh);
    }

    .nepClock-stream {
        flex-direction: row;
        justify-content: space-between;
        font-size: 1.2em;
        align-items: center;
        margin: 0;
        padding: 0;
        padding-right: 1em;
        text-align: center;
        border: 0;
        border-right: 3px solid #c0a092;
        height: 8vh;
    }

    .nepClock-streamTitleImage {
        max-width: 25vw;
        min-height: 11vh;
    }

    .nepClock-stream:has(> h4:first-child:nth-last-child(2)),
    .nepClock-stream:has(> img:first-child:nth-last-child(2)),
    .nepClock-stream:has(> div:first-child:nth-last-child(2)),
    .nepClock-scheduleContent:has(> div:first-child:last-child) > .nepClock-stream:has(> h4:first-child:nth-last-child(3)),
    .nepClock-scheduleContent:has(> div:first-child:last-child) > .nepClock-stream:has(> img:first-child:nth-last-child(3)),
    .nepClock-scheduleContent:has(> div:first-child:last-child) > .nepClock-stream:has(> div:first-child:nth-last-child(3))
    {
        justify-content: space-evenly;
    }

    .nepClock-emote-right, .nepClock-emote-left {
        height: 8vh;
        width: 8vh;
    }

    footer > a, .twitch {
        padding: 0.4vh 0.8vw;
        font-size: calc(0.6vw + 0.6vh);
    }

    .nepClock-streamMonth, .nepClock-streamDay {
        font-size: calc(1vw + 1vh);
    }
}
